.css-14s5rfu-MuiFormLabel-root-MuiInputLabel-root,
.css-1d3z3hw-MuiOutlinedInput-notchedOutline,
.css-1jy569b-MuiFormLabel-root-MuiInputLabel-root,
.css-nxo287-MuiInputBase-input-MuiOutlinedInput-input{
    color: white !important;
    border-color: white !important;
}

.MuiSvgIcon-fontSizeMedium{
    color: white;
}