.container-login {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: orange;
    height: 100vh;
}

.container-login .form-container div{
    margin-bottom: 1rem;
}

.form-container {
    background-color: white;
    padding: 1.5rem;
    border-radius: 0.25rem;
    width: 25%;
}

@media (max-width: 1024px) {
    .form-container {
      width: 80%;
      max-width: 400px; 
    }
  }

@media (max-width: 768px) {
    .form-container {
      width: 80%;
      max-width: 400px; 
    }
  }
  
@media (max-width: 480px) {
    .form-container {
      width: 90%; 
      max-width: 300px; 
    }
}

.login-button {
  background-color: orange; 
  width: 100%;
  border-radius: 0;
  padding: 12px 32px; 
  font-size: 1rem; 
  text-transform: uppercase;
  font-weight: 600; 
  cursor: pointer;
  border: 1px solid #fff;
  text-decoration: none;
  color: #222;
}

.login-button-light {
  background-color: whitesmoke; 
  display: inline-block;
  width: 100%;
  border-radius: 0;
  padding: 12px 32px; 
  font-size: 1rem; 
  text-transform: uppercase;
  font-weight: 600; 
  cursor: pointer;
  border: 1px solid orange;
  text-decoration: none;
  color: #222;
  align-items: center;
  text-align: center;
}
  
  
.login-button:hover, .login-button-light:hover {
    background: orange;
    border: 1px solid black;
    color: black;
    transition: 0.3s;
}